html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #f4f4f4;
    font-family: "Merriweather", serif;
}

p, section, label {
    color: #444;
}

h2 {
    color: #555555;
}

header {
    background: linear-gradient(135deg, #1b1b1b, #393939);
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.logo {
    width: 120px;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

nav {
    background-color: #444;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.mobile-menu {
    display: none;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 40px;
}

/* TABLE */
table {
    width: 100%;
    overflow-x: auto;
    display: block;
}

table, th, td {
    border: 1px solid #ccc;
}

th {
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    max-width: 400px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 6px;
}

input[type="submit"]:hover {
    background-color: #ff6b35;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    opacity: 0;
    animation: fadeIn 0.8s ease-out forwards;
}

section:nth-of-type(1) { animation-delay: 0.1s; }
section:nth-of-type(2) { animation-delay: 0.2s; }
section:nth-of-type(3) { animation-delay: 0.3s; }
section:nth-of-type(4) { animation-delay: 0.4s; }
section:nth-of-type(5) { animation-delay: 0.5s; }
section:nth-of-type(6) { animation-delay: 0.6s; }

@media (max-width: 768px) {

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu summary {
        padding: 12px;
        background-color: #444;
        color: white;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
    }

    .mobile-menu[open] {
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px 0;
    }

    .mobile-menu[open] a {
        display: inline-block;
        margin: 0 10px;
        padding: 10px 15px;
        background-color: #666;
        color: white;
        border-radius: 20px;
        text-decoration: none;
    }

    .mobile-menu[open] a:hover {
        background-color: #ff6b35;
    }  
}